/**
 * Global Defaults and Typography
 */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #fafafa;
  margin: 0;
}
.header{
  margin: 0;
  padding: 0;

}
.header h1 {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  background-image: linear-gradient(to bottom, #53192a, #5e1d30, #692035, #74243b, #802841);
  color: #fafafa;
  width: 100%;
  margin: 0;
  padding: 1em 0 1em .5em;
}

.header img {
  margin-top: -5.5em;
  height: 100px;
  width: 100px;
  float: right;
}

.home_page article {
  position: relative;
}

.home_page table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid black;
}

.home_page th {
  border-bottom: 1px solid black;
}

.home_page_tborders {
  border-right: 1px solid black;
}

tr:nth-of-type(odd) {
  background-color: #E5E5E5;
}
/**
 * Layout
 */
body {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

@media (min-width: 760px) {
  footer {
    display: flex;
    justify-content: space-between;
  }
  footer h2,
  footer address {
    width: 40%;
  }
}

footer {
  background-image: linear-gradient(to top, #4c1827, #591c2d, #652034, #73243a, #802841);
  color: #fafafa;
  margin-right: 2em;
  margin-left: 2em;
  font-family: 'Crimson Text', serif;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.footer_left {
  margin-left: 1em;
}

.footer_right {
  background-color: rgb(210, 207, 184);
  margin: 1em;
  font-size: 12.5px;
  padding-left: 5em;
  border-radius: 3px;
}


/**
 * Forms
 */
form {
  border: 1px solid black;
  margin: 0 auto;
  padding: 1rem;
  width: 35vw;
}

label {
  display: block;
  padding-bottom: 1rem;
}

label input {
  width: 100%;
}

/**
 * Scrollbar
 */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #802841;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #692035;
