/**
 * Global Defaults and Typography
 */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 18px;
  background-color: #fafafa;
  margin: 0;
}
.header{
  margin: 0;
  padding: 0;

}
.header h1 {
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  background-color: rgb(128, 40, 65);
  color: #fafafa;
  width: 100%;
  margin: 0;
  padding: 1em 0 1em .5em;
}

.header img {
  margin-top: -5.5em;
  height: 100px;
  width: 100px;
  float: right;
}

.home_page article {
  position: relative;
}

.home_page table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid black;
}

.home_page th {
  border-bottom: 1px solid black;
}

.home_page_tborders {
  border-right: 1px solid black;
}

tr:nth-of-type(odd) {
  background-color: #E5E5E5;
}
/**
 * Layout
 */
body {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

@media (min-width: 760px) {
  footer {
    display: flex;
    justify-content: space-between;
  }
  footer h2,
  footer address {
    width: 40%;
  }
}

/**
 * Forms
 */
form {
  border: 1px solid black;
  margin: 0 auto;
  padding: 1rem;
  width: 35vw;
}

label {
  display: block;
  padding-bottom: 1rem;
}

label input {
  width: 100%;
}
