{% extends "layouts/base.html" %}


{% block title %}Assignments{% endblock %}


{% block content %}
{% if error %}
  <p>{{ error }}</p>
{% endif %}
  <form method='POST'>

    <label for="assignment_name">Assignment Name
      <input type="text" name="assignment_name" />
    </label>

    <label for="Info">Info
      <textarea class='assignment-info' name="info" ></textarea>
    </label>
    <input type="submit" value="Submit" />
  </form>


  <h2>Edit Assignment</h2>
  <ul>
      {% for item in rows %}
      <li><a href="/assignments/{{item[0]}}">{{ item[2] }}</a></li>
      {% endfor %}
  </ul>


{% endblock %}