{% extends "layouts/base.html" %}


{% block title %}Courses{% endblock %}


{% block content %}
  <form method='POST'>

    <label for="Course">Course Name
      <input type="text" name="course" />
    </label>
    <label for="number">Course Number
        <input type="text" name="course_number" />
    </label>
    <label for="Info">Info
      <input class='course-info' type="test" name="info" />
    </label>
    <input type="submit" value="Submit" />
  </form>

  <p hidden>{{ thing }}</p>

{% endblock %}