{% extends "layouts/base.html" %}

{% block title %}Assignments{% endblock %}

{% block content %}
  <article class="pretty_Table">
    <h2>{{course_info[0]}} {{course_info[1]}}{{course_info[2]}}</h2>
    <table>
      <tr>
      {% for item in table_headers %}
        <th class="pretty_Table ">{{item}}</th>
      {% endfor %}
      </tr>
      {% for item in assign_info %}
      <tr>
        <td class="pretty_Table_tborders">{{item[2]}}</td>
        <td class="pretty_Table_tborders">{{item[3]}}</td>
        <td class="pretty_Table_tborders"><!--grade--></td>
      </tr>
      {% endfor %}

    </table>
  </article>
{% endblock %}
