{% extends "layouts/base.html" %}

{% block title %}My Courses{% endblock %}

{% block content %}
  <article class='home_page'>
    <table>
      <tr>
        <th class="home_page_tborders">Course Name</th>
        <th class="home_page_tborders">Location</th>
        <th class="home_page_tborders">Instructor</th>
        <th>Time</th>
      </tr>
      <tr>
        <td class="home_page_tborders">CSET 180</td>
        <td class="home_page_tborders">Orange Campus</td>
        <td class="home_page_tborders">Zach Fedor</td>
        <td>MTWRF 12:00pm</td>
      </tr>
      <tr>
        <td class="home_page_tborders">CSET 155</td>
        <td class="home_page_tborders">Orange Campus</td>
        <td class="home_page_tborders">Zach Fedor</td>
        <td>MTWRF 12:00pm</td>
      </tr>
      <tr>
        <td class="home_page_tborders">CSET 160</td>
        <td class="home_page_tborders">Orange Campus</td>
        <td class="home_page_tborders">Zach Fedor</td>
        <td>MTWRF 12:00pm</td>
      </tr>
      <tr>
        <td class="home_page_tborders">CSET 170</td>
        <td class="home_page_tborders">Orange Campus</td>
        <td class="home_page_tborders">Zach Fedor</td>
        <td>MTWRF 12:00pm</td>
      </tr>
      <tr>
        <td class="home_page_tborders">English Composition:D</td>
        <td class="home_page_tborders">Mellor</td>
        <td class="home_page_tborders">Patricia Melley</td>
        <td>MWF 8:00am</td>
      </tr>
    </table>
  </article>
{% endblock %}
