{% extends "layouts/base.html" %}

{% block title %}My Courses{% endblock %}

{% block logout %}
<div>
  <img class="logout" src="../static/images/profile_icon.png" alt="User logo"/>
  <div class="dropdown">
    <a  href="/logout">Logout</a>
  </div>
</div>
{% endblock %}

{% block nav %}
<nav>
  <ul>
    <li><a class="anchor" href="placeholder">Home</a></li>
    <li class="current_page"><a class="anchor" href="placeholder">My Courses</a></li>
    <li><a class="anchor" href="placeholder">News</a></li>
    <li><a class="anchor" href="placeholder">About</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}
  <article class='my_courses_page'>
    <table>
      <tr>
      {% for item in table_headers %}
        <th class="my_courses_page">{{item}}</th>
      {% endfor %}
      </tr>
      {% for item in table %}
      <tr>
        <td class="my_courses_page_tborders">{{item[0]}}</td>
        <td class="my_courses_page_tborders">{{item[1]}}</td>
        <td class="my_courses_page_tborders">{{item[2]}}</td>
        <td class="my_courses_page_tborders">{{item[3]}}</td>
        <td class="my_courses_page_tborders">{{item[4]}}</td>
      </tr>
      {% endfor %}
    </table>
  </article>
{% endblock %}
