{% extends "layouts/base.html" %}

{% block title %}Create Session{% endblock %}

{% block content %}

{% if error %}
<p class="error">{{error}}</p>
{% endif %}

{% if success %}
<p>{{success}}</p>
{% endif %}

<form method="post">

  <label>Course:
    <select name="course_id">
      {% for course in courses %}
      <option value="{{course[0]}}">{{course[3]}} - {{course[2]}}</option>
      {% endfor %}
    </select>
  </label>

  <label>Session Letter:
    <input type="text" name="session_letter">
  </label>

  <label>Session Time:
    <input type="text" name="session_time">
  </label>
   <input type="submit" value="Submit">
</form>

<a href="/sessions">Go back</a>

{% endblock %}
