{% extends "layouts/base.html" %}

{% block title %}My Sessions{% endblock %}

{% block content %}

{% if error %}
<p class="error">{{error}}</p>
{% endif %}

<p>{{session[1]}}</p>
<p>{{session[2]}}</p>

<form method="post">
  <label>Select Student:
    <select name="student">
      {% for student in students %}
      <option value="{{student[0]}}">{{student[1]}}</option>
      {% endfor %}
    </select>
  </label>
  <label>
    <input type="submit">
  </label>
</form>

<a href="/sessions">Go back</a>

{% endblock %}
