{% extends "layouts/base.html" %}

{% block title %}Create Session{% endblock %}

{% block content %}

{% if message %}
<p class="error">{{message}}</p>
{% endif %}

<form method="post">

  <label>Course:
    <select name="course_id">
      <option hidden></option>
      {% for course in courses %}
      <option value="{{course[0]}}">{{course[3]}} - {{course[2]}}</option>
      {% endfor %}
    </select>
  </label>

  <label>Session Letter:
    <input type="text" name="session_letter">
  </label>

  <label>Session Time:
    <input type="text" name="session_time">
  </label>
  
  <label id="students">Students:</label>

  <input type="button" class="submission" onclick="newField();" value="Add Student">
  <input class="submission" type="submit" value="Submit">
</form>

<a href="/sessions">Go back</a>

<script type='text/javascript'>
  existingFields = 1
  function newField(){
    var studentsList = document.getElementById("students");
    //create a new form element
    var field = document.createElement("input");
    //give type = 'text' and name = 'student' + incrementing value?
    field.type = "text";
    field.name = "student";
    //existingFields += 1;
    //insert it into the HTML, in the correct spot
    studentsList.appendChild(field);
  }
  window.onload = newField;
</script>

{% endblock %}
