{% extends "layouts/base.html" %}


{% block title %}Update {{assignment[2]}}{% endblock %}


{% block content %}
{% if error %}
  <p>{{ error }}</p>
{% endif %}
  <form method='POST'>

    <label for="assignment">assignment Name
      <input type="text" name="assignment" value="{{assignment[2]}}"/>
    </label>
    <label for="Info">Info
        <textarea class='assignment-info' name="info">{{assignment[3]}}</textarea>
    </label>
    <input type="submit" value="Submit" />
</form>

{% endblock %}